global:
  scrape_interval:     15s
  evaluation_interval: 15s
  external_labels:
    monitor: 'ha-postgres-monitor'

scrape_configs:
- job_name: 'postgres-exporter'
  static_configs:
  - targets: [{% for ip in patroni_private_ips %}'{{ ip }}:9187'{% if not loop.last %},{% endif %}{% endfor %}]
    labels:
      group: 'postgres'
  tls_config:
    ca_file: "/etc/ssl/self-certs/proventa-root-ca.pem"
    cert_file: "/etc/ssl/self-certs/proventa-client-cert.pem"
    key_file: "/etc/ssl/self-certs/proventa-client-cert-key.pem"
    insecure_skip_verify: false
  scheme: https
- job_name: 'pgbouncer-exporter'
  static_configs:
  - targets: [{% for ip in patroni_private_ips %}'{{ ip }}:9127'{% if not loop.last %},{% endif %}{% endfor %}]
    labels:
      group: 'pgbouncer'
  tls_config:
    ca_file: "/etc/ssl/self-certs/proventa-root-ca.pem"
    cert_file: "/etc/ssl/self-certs/proventa-client-cert.pem"
    key_file: "/etc/ssl/self-certs/proventa-client-cert-key.pem"
    insecure_skip_verify: false
  scheme: https
- job_name: 'patroni'
  static_configs:
  - targets: [{% for ip in patroni_private_ips %}'{{ ip }}:8008'{% if not loop.last %},{% endif %}{% endfor %}]
    labels:
      group: 'patroni'
  tls_config:
    ca_file: "/etc/ssl/self-certs/proventa-root-ca.pem"
    cert_file: "/etc/ssl/self-certs/proventa-client-cert.pem"
    key_file: "/etc/ssl/self-certs/proventa-client-cert-key.pem"
    insecure_skip_verify: false
  scheme: https
- job_name: 'etcd'
  static_configs:
  - targets: [{% for ip in etcd_private_ips %}'{{ ip }}:2379'{% if not loop.last %},{% endif %}{% endfor %}]
    labels:
      group: 'etcd'
  tls_config:
    ca_file: "/etc/ssl/self-certs/proventa-root-ca.pem"
    cert_file: "/etc/ssl/self-certs/proventa-client-cert.pem"
    key_file: "/etc/ssl/self-certs/proventa-client-cert-key.pem"
    insecure_skip_verify: false
  scheme: https
- job_name: 'patroni-airlock'
  static_configs:
  - targets: [{% for ip in patroni_private_ips %}'{{ ip }}:2222'{% if not loop.last %},{% endif %}{% endfor %}]
    labels:
      group: 'patroni-airlock'
- job_name: 'etcd-airlock'
  static_configs:
  - targets: [{% for ip in etcd_private_ips %}'{{ ip }}:2222'{% if not loop.last %},{% endif %}{% endfor %}]
    labels:
      group: 'etcd-airlock'
